{% extends "layout.html" %}
{%  load static %}

{% block head %}
    <link href="{% static "css/chat.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "js/cryptico.min.js" %}"></script>
    <script src="{% static "js/chat.js" %}"></script>
{% endblock %}

{% block body %}
<span id="me" data-username="{{ user.get_username }}" style="display: none"></span>
<p>Contacts:</p>

{% for u in users %}
    {% if user.id != u.id %}
    <button class="contact-btn" data-username="{{ u.username|escape }}" data-id="{{ u.id }}">
        {{ u.username|escape }}
    </button>
    {% endif %}
{% endfor %}

<br>
<br>

<div id="chat_container">
    <div id="conv_title"></div>
    {% for user in users %}
        <div class="messages_container" id="chat_with_{{ user.id }}"></div>
    {% endfor %}
    <form id="chat_form">
        <input type="hidden" id="receiver_user_id">
        <textarea id="write_zone"></textarea>
        <button type="submit">Envoyer</button>
    </form>
</div>

{% endblock %}