{% extends "layout.html" %}
{%  load static %}

{% block head %}
    <link href="{% static "css/chat.css" %}" rel="stylesheet" type="text/css">
    <script src="{% static "js/cryptico.min.js" %}"></script>
    <script src="{% static "js/chat.js" %}"></script>
{% endblock %}

{% block body %}
<span id="me" data-username="{{ user.get_username }}" style="display: none"></span>

<form id="search_user_form" method="post" action="/app/search_user/">
    {% csrf_token %}
    <input type="text" class="form-control" name="q" id="search_query" placeholder="Rechercher un utilisateur" required="" />
    <button type="submit" class="btn btn-inverse">
        Rechercher
    </button>
</form>

<div id="contact_container"></div>

<br>
<br>

<div id="chat_container">
    <div id="conv_title"></div>
    <div id="conv_container"></div>
    <form id="chat_form">
        <input type="hidden" id="receiver_user_id">
        <textarea id="write_zone"></textarea>
        <button type="submit">Envoyer</button>
    </form>
</div>

{% endblock %}