{% extends "layout.html" %}
{% load static %}

{% block body %}
    <div class="container-fluid">
        <div class="row col-md-8 col-md-offset-2">
            <h4>Les technologies utilisées dans ce projet sont:</h4>
            <h3 class="col-md-12">Développement</h3>
            <div class="techno col-md-4">
                <div>
                    <p>Python + Django Framework</p>
                    <img src="{% static "img/django.jpg" %}" alt="Python django">
                </div>
            </div>
            <div class="techno col-md-4">
                <div>
                    <p>La librairie Cryptico pour le chiffrement</p>
                    <img src="{% static "img/crypto.jpg" %}" alt="crypto logo">
                </div>
            </div>
            <div class="techno col-md-4">
                <div>
                    <p>La librairie Channels pour le transport dynamique</p>
                    <img src="{% static "img/js_channel.png" %}" alt="channels logo">
                </div>
            </div>
        </div>
        <div class="row col-md-8 col-md-offset-2">
            <h3 class="col-md-12">Infrastructure</h3>
            <div class="techno col-md-4">
                <div>
                    <p>Serveur de production Debian 8</p>
                    <img src="{% static "img/debian.png" %}" alt="debian logo">
                </div>
            </div>
            <div class="techno col-md-4">
                <div>
                    <p>Reverse proxy Nginx</p>
                    <img src="{% static "img/Nginx-Logo.png" %}" alt="nginx logo">
                </div>
            </div>
            <div class="techno col-md-4">
                <div>
                    <p>Base de données PostgreSQL</p>
                    <img src="{% static "img/postgresql-php-osx-brew.png" %}" alt="postgresql logo">
                </div>
            </div>
            <div class="techno col-md-4">
                <div>
                    <p>Daemon manager Supervisor</p>
                    <img src="{% static "img/deb_package.png" %}" alt="supervisor logo">
                </div>
            </div>
            <div class="techno col-md-4">
                <div>
                    <p>Daemon manager Daphne</p>
                    <img src="{% static "img/deb_package.png" %}" alt="daphne logo">
                </div>
            </div>
            <div class="techno col-md-4">
                <div>
                    <p>Daemon manager Django</p>
                    <img src="{% static "img/django_bis.png" %}" alt="django manager logo">
                </div>
            </div>
        </div>

    </div>
{% endblock %}