<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formu</title>
</head>
<body>
<form id="meticu" action="" method="post" name="meticu" >
    <fieldset>
        <legend><b>Inscription</b></legend>

        <table>
            <colgroup></colgroup>
            <colgroup></colgroup>

            <tr>
                <td><label for="Name">Nom:</label></td>
                <td><input type="text" id="Name" name="Name"/></td>
            </tr>

            <tr>
                <td><label for="FirstName">Prénom:</label></td>
                <td><input type="text" id="FirstName" name="FirstName"/></td>
            </tr>
            <tr>
                <td><label for="phone-Number">Tlephone:</label></td>
                <td><input type="text" id="phone-Number" name="phone-Number"/></td>
            </tr>

            <tr>
                <td><label for="Adresse">Adresse:</label></td>
                <td><input type="text" id="Adresse" name="Adresse"/></td>
            </tr>

            <tr>
                <td><label for="N°Rue">N°Rue:</label></td>
                <td><input type="text" id="N°Rue" name="N°Rue"/></td>
            </tr>

            <tr>
                <td><label for="Passe">Mot de Passe:</label></td>
                <td><input type="text" id="Passe" name="Passe"/></td>
            </tr>

            <tr>
                <td><label for="CPasse">Confirmation MDP:</label></td>
                <td><input type="text" id="CPasse" name="CPasse"/></td>
            </tr>

            <tr>
                <td>
                    <label for="Sexe">Sexe:</label>
                <td>
                    <input type="radio" name="Sexe" id="Sexe" value="m"/>Homme
                    <input type="radio" name="Sexe"  value="f" />Femme
                </td>
                </td>
            </tr>

            <tr>
                <td><td><input type="submit"  id="envoyer" value="Inscription"/></td>
            </tr>
        </table>
    </fieldset>
</form>


</body>
</html>