{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <div class="row">
            <section>Ce projet a été réalisé par des membres du laboratoire sécurité de Lyon. Il consiste en la réalisation d'un chat sécurisé. L'équipe est composée de :</section>
            <br><br>
            <ul class="col-md-12 members">
                <li>- Mathieu CALEMARD DU GARDIN</li>
                <li>- Joris REBOULLAT</li>
                <li>- Axel DURHÔNE</li>
                <li>- Brahim SLITI</li>
                <li>- Maxime SELIN</li>
                <li>- Frédéric MALPHAT</li>
            </ul>
        </div>
    </div>
{% endblock %}