{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>What'Sup</title>
    <link href="{% static "bootstrap-3.3.7-dist/css/bootstrap.min.css" %}" type="text/css"/>
    <link href="{% static "css/accueil.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/accueilmobile.css" %}" rel="stylesheet" type="text/css">
</head>
<body>

<div id="frontbase">

    <div>
        <nav class="nav_menu">
              <ul class="nav_menu_index">
                  <li><a href="{% url "index" %}">Accueil</a></li>          <!--A changer avec liens-->
                  <li><a href="{% url "information" %}">Qui sommes-nous</a></li>
                  <li><a href="{% url "index" %}">Sécurité</a></li>
                  <li><a href="{% url "index" %}">Fonctionnalitées</a></li>
              </ul>
          </nav>
    </div>

    <img src="{% static "img/logo_whatsup_100x100.png" %}" alt="logo de what'sup" id="logo_site">
</div>
{% block body %}
{% endblock %}
<footer id="footer">
    <p>
        &copy; What'Sup 2017
    </p>
</footer>

<script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
<script src="{% static "bootstrap-3.3.7-dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "accueil.js" %}"></script>
</body>
</html>
