{% extends "layout.html" %}
{% load static %}
{% block body %}
<section>
    Pour permettre une sécurité des messages en cas d'attaque de type Man In The Middle nous avons utilisé le chiffrement RSA :
    le principe consiste a généré une paire de clé une qui est publique elle sera donc distribué et accessible
    et l'autre privé qui comme son nom l'indique ne sera pas accessibles.
    Voici un exemple définissant l'utilisation du RSA:<br>

    L'utilisateur A veut que les messages qui lui sont envoyés soit confidentiel, il rend donc sa clé publique accessible,les autres utlisateurs pourront utilisé cette clé pour chiffré
    le message,une fois le message chiffré et signé, il sera reçu par l'utilisateur A qui utilisera sa clé privé pour déchiffré le message et vérifié sa signature.<br>

    Ici les clés générées ont une taille de 2048 bits et une passphrase de 250 caractéres<br>

    Voici un exemple illustrant le transfert d'un message chiffré<br>
        <br><img src="{% static "img/RSA.png" %}" alt="image_RSA"><br>

    Voici un exemple montrant le principe d'utilisation de la signature<br>
    <br><img src="{% static "img/signature.png" %}" alt="image_Signature"><br>





    </Section>
{% endblock %}