@font-face {
    font-family: "Bariol";
    src: url('css/Bariol.ttf');
}

body{
    margin:0;
    padding:0;
    border:0;
    top:0;
    vertical-align:baseline;
    text-align: center;
    font-family: Bariol, sans-serif;
    font-size: 1.8em;
    background-color: #fbfbf4;
}

h1 {
  padding-top: 155px;
}

#appstore {
  display: none;
}

#texte_présentationM {
  display: none;
}

#texte_secu, #texte_secuM{
  font-size: 0.9em;
}

.nav_menu{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2459a3;
  font-size: 0.51em;

}

.nav_menu_index{
  list-style: none;
}

.nav_menu_index>center>li>a{
  text-decoration: none;
  color: aliceblue;
  margin: 40px;
}

.nav_menu_index>center>li{
  display: table-cell;
  padding: 20px;
}

/*.nav_menu_index>li>a:hover{
  background-color: red;
}*/

#logo_site{
    /*width: 350px;
    height: 350px;*/
    position: fixed;
    left: 21%;
    top: -5px;
    /*margin-top: 10px;
    margin-left: 20px;
    /*position: relative;*/
    /*margin-top: 10px;*/
}

::-moz-selection { /*Pour Firefox */
    color: aliceblue;
    background: #084563;
}

::selection {
    color: aliceblue;
    background: #084563;
}

#titre_bienvenue{
    color: #2679C7;
}

#texte_présentation{
    color: #616163;
}

.bouton_accueil_inscrire{
    margin-top: 50px;
    background-color: #084563;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.bouton_accueil_connecter{
    margin-top: 50px;
    background-color: #18af00; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.bouton_accueil_inscrire:hover{
    background-color: #67AF67;
}

.bouton_accueil_connecter:hover{
    background-color: #1dc900;
}

#banniere_securité{
    margin-top: 75px;
    width: 100%;
    height: 420px;
}

#banniere_securitéM {
  display: none;
}

#footer {
  padding: 50px;
  background-color: black;
  color: white;
}
