@font-face {
    font-family: "Bariol";
    src: url('/static/css/Bariol.ttf');

}

body{
    margin:0;
    padding-top: 100px;
    border:0;
    top:0;
    vertical-align:baseline;
    text-align: center;
    font-family: Bariol, sans-serif;
    font-size: 1.8em;
    background-color: #fbfbf4;
}
a:focus, a:hover {
    text-decoration: none;
}
#appstore {
  display: none;
}

#texte_présentationM {
  display: none;
}

#texte_secu, #texte_secuM{
  font-size: 0.9em;
}


.navbar {
    background-color: #2459a3;
    font-size: 16px;
}
.navbar li a {
    color: aliceblue;
    padding-right: 25px;
    padding-left: 25px;
}
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
        min-height: 70px !important;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
    .navbar-brand {
        height: 70px;
    }
    .navbar li a {
        line-height: 40px;
    }
}
.navbar-toggle {
    background-color: white;
}
.navbar-toggle .icon-bar {
    background: #2459a3;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: #fbfbf4;
    color: #2459a3;
}

#logo_site{
    /*width: 350px;
    height: 350px;*/
    position: fixed;
    left: 21%;
    top: -5px;
    /*margin-top: 10px;
    margin-left: 20px;
    /*position: relative;*/
    /*margin-top: 10px;*/
}

::-moz-selection { /*Pour Firefox */
    color: aliceblue;
    background: #084563;
}

::selection {
    color: aliceblue;
    background: #084563;
}

#titre_bienvenue{
    color: #2679C7;
}

#texte_présentation{
    color: #616163;
}

.bouton_accueil_inscrire, .bouton_accueil_connecter{
    margin-top: 50px;
    background-color: #084563;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
}

.bouton_accueil_connecter{
    background-color: #18af00; /* Green */
}

.bouton_accueil_inscrire:hover{
    background-color: #67AF67;
}

.bouton_accueil_connecter:hover{
    background-color: #1dc900;
}

#banniere_securité{
    margin-top: 75px;
    width: 100%;
}

#banniere_securitéM {
    display: none;
}

#footer {
    margin-top: 100px;
    background-color: black;
    color: white;
    width: 100%;
}
#footer p {
    padding: 25px;
    margin: 0;
}
